/*
 * Style Switcher
 * Copyright 2015 8Guild.com
 */
 /* ╔══╗╔═══╗╔╗╔╗╔══╗╔╗──╔══╗
  	║╔╗║║╔══╝║║║║╚╗╔╝║║──║╔╗╚╗
  	║╚╝║║║╔═╗║║║║─║║─║║──║║╚╗║
  	║╔╗║║║╚╗║║║║║─║║─║║──║║─║║
  	║╚╝║║╚═╝║║╚╝║╔╝╚╗║╚═╗║╚═╝║
  	╚══╝╚═══╝╚══╝╚══╝╚══╝╚═══╝
*/

.style-switcher-toggle {
	position: fixed;
	z-index: 9900;
	width: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	background-color: #232323;
	border-radius: 50%;
	top: 50%;
	left: 15px;
	margin-top: -25px;
	cursor: pointer;
	padding-left: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	-webkit-transition: background-color .25s, left .3s ease-in-out;
		 -moz-transition: background-color .25s, left .3s ease-in-out;
		 			transition: background-color .25s, left .3s ease-in-out;
}
.style-switcher-toggle:hover { background-color: #404040; }
.style-switcher-toggle.collapsed { left: -70px; }
.style-switcher {
	position: fixed;
	z-index: 9900;
	width: 270px;
	height: 650px;
	padding: 25px;
	color: #fff;
	background-color: #232323;
	top: 50%;
	left: -280px;
	margin-top: -325px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
		 -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
					box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	-webkit-transition: left .4s cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s;
		 -moz-transition: left .4s cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s;
		 			transition: left .4s cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s;
}
.style-switcher.expanded { left: 15px; }
.style-switcher h3 {
	color: #fff;
	font-size: 16px;
	margin-bottom: 15px;
}
.close-switcher {
	display: block;
	position: absolute;
	top: 0;
	right: 15px;
	font-size: 28px;
	font-weight: 300;
	cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.skin-choice {
	display: block;
	width: 100%;
	border: 3px solid transparent;
	margin-bottom: 12px;
}
.skin-choice.active {
	border-color: #ff863b;
}
@media screen and (max-width: 768px) {
	.style-switcher-toggle,
	.style-switcher { display: none; }
}